
```
# Tiene formato de código
```

# Lab 1.1. Preprocesamiento

Muchas veces se requiere procesar los datos faltantes o dañados, ya que tales datos pueden perjudicar el rendimiento de los algoritmos de machine learning.

In [2]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
# from sklearn.preprocessing import Imputer
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
# from sklearn.compose import ColumnTransformer
# from sklearn.compose import ColumnTransformer, make_column_transformer

## Rellenando valores faltantes usando Imputer

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
#df = pd.read_csv('data.csv')
df = pd.read_csv('/content/drive/My Drive/Cursos/DataScience/Preprocesamiento/data.csv')
df.head()

      Pais  Edad  Salario Compra
0    Chile  44.0  72000.0     No
1   Espana  27.0  48000.0     Si
2   Brasil  30.0  54000.0     No
3   Espana  38.0  61000.0     No
4  Uruguay  40.0      NaN     Si

In [12]:
# Reemplazar cada valor faltante por las siguientes posibilidades:
# mean, median, mode. Axis = 0 es rows, 1 es column

# imputer = Imputer(missing_values='NaN', strategy='mean', axis = 0)
imputer = SimpleImputer(missing_values=np.nan, strategy='median')
df.iloc[:, 1:3] = imputer.fit_transform(df.iloc[:, 1:3])
df.head()

      Pais  Edad  Salario Compra
0    Chile  44.0  72000.0     No
1   Espana  27.0  48000.0     Si
2   Brasil  30.0  54000.0     No
3   Espana  38.0  61000.0     No
4  Uruguay  40.0  61000.0     Si

## Codificando data categorica

In [13]:
# Label Encoder reemplazará cada variable categórica con un número. Útil para reemplazar si por 1, no por 0.
# One Hot Encoder creará una columna separada para cada variable y dará un valor de 1 en caso que variable está presente
enc = LabelEncoder()
temp = df.copy()
temp.iloc[:, 0]=enc.fit_transform(df.iloc[:, 0])
# temp.iloc[:, 3]=enc.fit_transform(df.iloc[:, 3])
temp.head()

   Pais  Edad  Salario Compra
0     1  44.0  72000.0     No
1     2  27.0  48000.0     Si
2     0  30.0  54000.0     No
3     2  38.0  61000.0     No
4     3  40.0  61000.0     Si

In [11]:
# puedes pasar una serie de índices de características categóricas a one-hot
one_hot_encoder = OneHotEncoder()
b=np.expand_dims(temp.iloc [:, 0].values, axis=1)
temp1=pd.DataFrame(data=one_hot_encoder.fit_transform(b).toarray())
temp1 = pd.concat([temp1, temp.drop(['Pais'], axis=1)], axis=1)
# temp1 = pd.concat([temp1, temp], axis=1)
print(temp1)

     0    1    2    3  Edad  Salario Compra
0  0.0  1.0  0.0  0.0  44.0  72000.0     No
1  0.0  0.0  1.0  0.0  27.0  48000.0     Si
2  1.0  0.0  0.0  0.0  30.0  54000.0     No
3  0.0  0.0  1.0  0.0  38.0  61000.0     No
4  0.0  0.0  0.0  1.0  40.0  61000.0     Si
5  0.0  1.0  0.0  0.0  35.0  58000.0     Si
6  0.0  0.0  1.0  0.0  38.0  52000.0     No
7  0.0  1.0  0.0  0.0  48.0  79000.0     Si
8  1.0  0.0  0.0  0.0  50.0  83000.0     No
9  0.0  1.0  0.0  0.0  37.0  67000.0     Si

In [14]:
# puedes lograr lo mismo usando get_dummies
# print(df.head())
# print(df.iloc[:, :-1])
# pd.get_dummies(df.iloc[:, :-1])
pd.get_dummies(df.iloc[:, :])

,Edad,Salario,Pais_Brasil,Pais_Chile,Pais_Espana,Pais_Uruguay,Compra_No,Compra_Si
0,44.0,72000.0,0,1,0,0,1,0
1,27.0,48000.0,0,0,1,0,0,1
2,30.0,54000.0,1,0,0,0,1,0
3,38.0,61000.0,0,0,1,0,1,0
4,40.0,61000.0,0,0,0,1,0,1
5,35.0,58000.0,0,1,0,0,0,1
6,38.0,52000.0,0,0,1,0,1,0
7,48.0,79000.0,0,1,0,0,0,1
8,50.0,83000.0,1,0,0,0,1,0
9,37.0,67000.0,0,1,0,0,0,1

## Discretizando

A menudo tenemos que convertir características continuas a valores discretos. Por ejemplo, queremos convertir la salida a 0 o 1 dependiendo del umbral, lo cual es una binarizacion.

In [15]:
from sklearn.datasets import load_iris

iris_dataset = load_iris()
X = iris_dataset.data
y = iris_dataset.target
feature_names = iris_dataset.feature_names

Ahora binarizaremos la variable "sepal width" con 0 o 1 considerando si el valor actual está por debajo o por encima de la media.

In [ ]:
X[:, 1]

array([3.5, 3. , 3.2, 3.1, 3.6, 3.9, 3.4, 3.4, 2.9, 3.1, 3.7, 3.4, 3. ,
       3. , 4. , 4.4, 3.9, 3.5, 3.8, 3.8, 3.4, 3.7, 3.6, 3.3, 3.4, 3. ,
       3.4, 3.5, 3.4, 3.2, 3.1, 3.4, 4.1, 4.2, 3.1, 3.2, 3.5, 3.6, 3. ,
       3.4, 3.5, 2.3, 3.2, 3.5, 3.8, 3. , 3.8, 3.2, 3.7, 3.3, 3.2, 3.2,
       3.1, 2.3, 2.8, 2.8, 3.3, 2.4, 2.9, 2.7, 2. , 3. , 2.2, 2.9, 2.9,
       3.1, 3. , 2.7, 2.2, 2.5, 3.2, 2.8, 2.5, 2.8, 2.9, 3. , 2.8, 3. ,
       2.9, 2.6, 2.4, 2.4, 2.7, 2.7, 3. , 3.4, 3.1, 2.3, 3. , 2.5, 2.6,
       3. , 2.6, 2.3, 2.7, 3. , 2.9, 2.9, 2.5, 2.8, 3.3, 2.7, 3. , 2.9,
       3. , 3. , 2.5, 2.9, 2.5, 3.6, 3.2, 2.7, 3. , 2.5, 2.8, 3.2, 3. ,
       3.8, 2.6, 2.2, 3.2, 2.8, 2.8, 2.7, 3.3, 3.2, 2.8, 3. , 2.8, 3. ,
       2.8, 3.8, 2.8, 2.8, 2.6, 3. , 3.4, 3.1, 3. , 3.1, 3.1, 3.1, 2.7,
       3.2, 3.3, 3. , 2.5, 3. , 3.4, 3. ])

In [16]:
from sklearn.preprocessing import Binarizer
X[:, 1:2] = Binarizer(threshold=X[:, 1].mean()).fit_transform(X[:, 1].reshape(-1, 1))
X[:, 1]

array([1., 0., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 0., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 0., 1., 1., 1., 1., 1.,
       1., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 1., 0.,
       0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       1., 1., 0., 1., 1., 1., 0., 1., 1., 0., 0., 0., 1., 0.])

## Tarea

Procese dato de __adult.data__ para rellenar datos faltantes.