Tarea realizada por Cristian León

1.	Cree un Dataframe de pandas con datos como se muestra en la figura.

In [1]:
# importacion de librerias
import numpy as np
import pandas as pd

In [2]:
data = { 'Name':['Anastasia', 'Dima', 'Katherine', 'James','Emily'],
          'Score':[12.5 , 9.0 , 16.9 , np.nan , 9.0],
          'Attempts': [1 , 3, 2, 3, 2],
          'Qualify':['si','no','si','no','no']}
df = pd.DataFrame(data)

print(df)

        Name  Score  Attempts Qualify
0  Anastasia   12.5         1      si
1       Dima    9.0         3      no
2  Katherine   16.9         2      si
3      James    NaN         3      no
4      Emily    9.0         2      no

2.	Extraiga los detalles de Emily del Dataframe

In [3]:

fila = df.iloc[(df['Name'] == 'Emily').values]
print('La informacion de Emily es:')
print(fila)

La informacion de Emily es:
    Name  Score  Attempts Qualify
4  Emily    9.0         2      no

3.	Encuentre los nombres de todas las personas registradas.

In [4]:
print('Los nombres almacenados son:')
for nombre in df['Name'].sort_values():
    print('\t',nombre)

Los nombres almacenados son:
	 Anastasia
	 Dima
	 Emily
	 James
	 Katherine

4.	Encuentre el número promedio de intentos

In [5]:
promedio= df["Attempts"].mean()
print(f'Valor del promedio de datos(Attempts) es:{promedio:,.2f} ')

Valor del promedio de datos(Attempts) es:2.20

5.	Lea los datos almacenados en un archivo de Excel

In [6]:
dfe = pd.read_excel('archivo.xlsx', sheet_name='Hoja1')

print(dfe)

        Name  Score  Attempts Qualify
0  Anastasia   12.5         1      si
1       Dima    9.0         3      no
2  Katherine   16.9         2      si
3      James    NaN         3      no
4      Emily    9.0         2      no
5   Cristian   15.0         1      si

6.	Imprima el número de filas y columnas en el marco de datos

In [7]:
num_filas, num_columnas = df.shape
print('Del primer Dateframe:')
print('\t Número de filas:', num_filas)
print('\t Número de columnas:', num_columnas)

dfe = df
num_filas, num_columnas = dfe.shape
print('Del segundo Dateframe:')
print('\t Número de filas:', num_filas)
print('\t Número de columnas:', num_columnas)

Del primer Dateframe:
	 Número de filas: 5
	 Número de columnas: 4
Del segundo Dateframe:
	 Número de filas: 5
	 Número de columnas: 4

7.	Extraiga el subconjunto de ese dataframe

In [8]:
# Obtener un subconjunto de filas y columnas por etiquetas
subconjunto = df.loc[[0,1, 2], ['Name', 'Score']]

print(subconjunto)

        Name  Score
0  Anastasia   12.5
1       Dima    9.0
2  Katherine   16.9

8.	Guarde el subconjunto como un archivo csv

In [9]:
subconjunto.to_csv('archivo.csv', index=False)